---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import Test from "../components/Test.astro";

---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png+xml" href="/public/images/IMDb ico.jpg" />
		<link rel="stylesheet" href="src//style.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link 
     href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" 
     rel="stylesheet"
    />
		<title>IMDb: Ratings, Reviews, and Where to Watch the Best Movies & TV Shows</title>
	</head>
	<body class="text-white">
		<NavBar></NavBar>

		<Test/>
		
		<Footer/>

		<script src="../script.js"></script>
	</body>
</html>
