<header class="flex justify-center resizeGap m-0 border-0 bg-gray-800 pt-3 pb-3 text-base">
  <div class="hide-elements-on-1030px-screens menu flex gap-2">
    <img class=" mt-5 w-7 h-7" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAAXNSR0IArs4c6QAAAPdJREFUaEPtmEEOgzAMBMnP+/OUqqeqpVpky46d4UxY744TDOPY7Bqb+T0w3J04hCHcLAFauhnQLzsQhnCzBGjpZkA5tOSWnnPOlemPMSQv0k0voxheDDeEL4DQ0ot1qns5MmF35aQHYjgp+DBZCIdFnSQE4avgz1H6kQRFkj1Haak+mTCztJR73E3M0szS7wTu7GHpUIhr4k8l90Mry4i3rkzYWzjreRjOSj5KF8JRSWfpQPjPxwM/4rPa8pcuszSz9P1Zeq89vNJ+tdTCa8mSXoW1EK5AyVIjhC3pVVgL4QqULDVC2JJehbUQrkDJUiOELelVWPsEl+lAPQnNLZQAAAAASUVORK5CYII=" />
    <img src="/public/images/IMDb_Logo_Square.svg.png" width="64" height="32"/>
  </div>
   <img class="hide-on-small-screens" src="/public/images/IMDb_Logo_Square.svg.png" width="64" height="32" alt="IMDb Logo"/>
    <nav class="flex w-3/6">
        <label class="menu hide-on-small-screens menu flex gap-2">
            <img class="w-7 h-7" style="margin-top: 14px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAAXNSR0IArs4c6QAAAPdJREFUaEPtmEEOgzAMBMnP+/OUqqeqpVpky46d4UxY744TDOPY7Bqb+T0w3J04hCHcLAFauhnQLzsQhnCzBGjpZkA5tOSWnnPOlemPMSQv0k0voxheDDeEL4DQ0ot1qns5MmF35aQHYjgp+DBZCIdFnSQE4avgz1H6kQRFkj1Haak+mTCztJR73E3M0szS7wTu7GHpUIhr4k8l90Mry4i3rkzYWzjreRjOSj5KF8JRSWfpQPjPxwM/4rPa8pcuszSz9P1Zeq89vNJ+tdTCa8mSXoW1EK5AyVIjhC3pVVgL4QqULDVC2JJehbUQrkDJUiOELelVWPsEl+lAPQnNLZQAAAAASUVORK5CYII=" />
            <button id="menuButton" class=" mr-5 mb-2"><strong>Menu</strong></button>
        </label>

        <div id="popupMenu" class="popupMenu hidden text-white grid">
            <div>
                <button style="transform: translate(-230px, 40px); z-index: 1000;" id="closeButton" class="close-button">&times;</button>
                <img src="/public/images/IMDb_Logo_Square.svg.png" width="64" height="32" style="transform: translate(-110px, 10px); z-index: 1000; position: relative"/>
            </div>
          <div class="popup-content-menu grid grid-cols-3 justify-items-center items-center">
              <div class="list-container m-5">
                  <span class="flex ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24" style="fill: #eab30b;transform: ;msFilter:; margin-right: 10px;"><path d="M19 4v1h-2V3H7v2H5V3H3v18h2v-2h2v2h10v-2h2v2h2V3h-2v1zM5 7h2v2H5V7zm0 4h2v2H5v-2zm0 6v-2h2v2H5zm12 0v-2h2v2h-2zm2-4h-2v-2h2v2zm-2-4V7h2v2h-2z"></path></svg>
                    <h1 class="text-2xl font-bold mb-5">Movies</h1>
                  </span>
                  <ul style="line-height: 2;">
                      <li><a>Release Calendar</a></li>
                      <li><a>Top 250 Movies</a></li>
                      <li><a>Most Popular Movies</a></li>
                      <li><a>Browse Movies by Genre</a></li>
                      <li><a>Top Box Office</a></li>
                      <li><a>Showtimes & Tickets</a></li>
                      <li><a>Movies News</a></li>
                      <li><a>India Movie Spotlight</a></li>
                  </ul>
              </div>
              <div class="list-container m-5">
                <span class="flex ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="35" viewBox="0 0 24 24" style="fill: #eab30b;transform: ;msFilter:; margin-right: 10px;"><path d="M20 6h-5.586l2.293-2.293-1.414-1.414L12 5.586 8.707 2.293 7.293 3.707 9.586 6H4c-1.103 0-2 .897-2 2v11c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V8c0-1.103-.897-2-2-2zM4 19V8h16l.002 11H4z"></path></svg>
                    <h1 class="text-2xl font-bold mb-5">TV Shows</h1>
                  </span>
                  <ul style="line-height: 2;">
                      <li><a>What's on TV & Streaming</a></li>
                      <li><a>Top 250 TV Shows</a></li>
                      <li><a>Most Popular TV Shows</a></li>
                      <li><a>Browse TV Shows By Genre</a></li>
                      <li><a>TV News</a></li>
                  </ul>
              </div>
              <div class="list-container m-5">
                <span class="flex ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="35" viewBox="0 0 24 24" style="fill: #eab30b;transform: ;msFilter:; margin-right: 10px;"><path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path></svg>
                    <h1 class="text-2xl font-bold mb-5">Awards & Events</h1>
                  </span>
                  <ul style="line-height: 2;">
                      <li><a>Oscars</a></li>
                      <li><a>Best Of 2024</a></li>
                      <li><a>Holiday Picks</a></li>
                      <li><a>STARmeter Awards</a></li>
                      <li><a>Awards Central</a></li>
                      <li><a>Festival Central</a></li>
                      <li><a>All Events</a></li>
                  </ul>
              </div>
              <div class="list-container m-5">
                <span class="flex ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="35" viewBox="0 0 24 24" style="fill: #eab30b;transform: ;msFilter:; margin-right: 10px;"><path d="M9.5 12c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm1.5 1H8c-3.309 0-6 2.691-6 6v1h15v-1c0-3.309-2.691-6-6-6z"></path><path d="M16.604 11.048a5.67 5.67 0 0 0 .751-3.44c-.179-1.784-1.175-3.361-2.803-4.44l-1.105 1.666c1.119.742 1.8 1.799 1.918 2.974a3.693 3.693 0 0 1-1.072 2.986l-1.192 1.192 1.618.475C18.951 13.701 19 17.957 19 18h2c0-1.789-.956-5.285-4.396-6.952z"></path></svg>
                    <h1 class="text-2xl font-bold mb-5">Celebs</h1>
                  </span>
                  <ul style="line-height: 2;">
                      <li><a>Born Today</a></li>
                      <li><a>Most Popular Celebs</a></li>
                      <li><a>Celebrity News</a></li>
                  </ul>
              </div>
              <div class="list-container m-5">
                <span class="flex ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="38" viewBox="0 0 24 24" style="fill: #eab30b;transform: ;msFilter:; margin-right: 10px;"><path d="M20 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zm.001 6c-.001 0-.001 0 0 0h-.465l-2.667-4H20l.001 4zM15.5 15 10 18v-6l5.5 3zm-.964-6-2.667-4h2.596l2.667 4h-2.596zm-2.404 0H9.536L6.869 5h2.596l2.667 4zM4 5h.465l2.667 4H4V5z"></path></svg>
                    <h1 class="text-2xl font-bold mb-5">Watch</h1>
                  </span>
                  <ul style="line-height: 2;">
                      <li><a>What to Watch</a></li>
                      <li><a>Latest Trailers</a></li>
                      <li><a>IMDb Originals</a></li>
                      <li><a>IMDd Picks</a></li>
                      <li><a>IMDb Spotlight</a></li>
                      <li><a>IMDb Podcast</a></li>
                  </ul>
              </div>
              <div class="list-container m-5">
                <span class="flex ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="38" viewBox="0 0 24 24" style="fill: #eab30b;transform: ;msFilter:; margin-right: 10px;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zM4 12c0-.899.156-1.762.431-2.569L6 11l2 2v2l2 2 1 1v1.931C7.061 19.436 4 16.072 4 12zm14.33 4.873C17.677 16.347 16.687 16 16 16v-1a2 2 0 0 0-2-2h-4v-3a2 2 0 0 0 2-2V7h1a2 2 0 0 0 2-2v-.411C17.928 5.778 20 8.65 20 12a7.947 7.947 0 0 1-1.67 4.873z"></path></svg>
                    <h1 class="text-2xl font-bold mb-5">Community</h1>
                  </span>
                  <ul style="line-height: 2;">
                      <li><a>Help Center</a></li>
                      <li><a>Contributor Zone</a></li>
                      <li><a>Polls</a></li>
                  </ul>
              </div>
          </div>
      </div>

        <button class="hide-elements-on-730px-screens btn bg-gray-200 h-10 mt-2" id="btn">
          <strong class="text-black">All</strong>
          <i class="bx bx-chevron-down text-black" id="arrow"></i>
      </button>
      <div class="dropdown" id="dropdown">
          <a href="#all" aria-label="Search for all">
              <i class='bx bx-search'></i>
              &nbsp;&nbsp;All
          </a>
          <a href="#titles" aria-label="Titles">
              <i class='bx bxs-film'></i>
              &nbsp;&nbsp;Titles
          </a>
          <a href="#TV episodes" aria-label="TV Episodes">
              <i class='bx bx-tv'></i>
              &nbsp;&nbsp;TV Episodes
          </a>
          <a href="#celebs" aria-label="Celebrities">
              <i class="bx bx-folder"></i>
              &nbsp;&nbsp;Celebs
          </a>
          <a href="#companies" aria-label="Companies">
              <i class='bx bxs-buildings'></i>
              &nbsp;&nbsp;Companies
          </a>
          <a href="#keywords" aria-label="Keywords">
              <i class='bx bxs-label'></i>
              &nbsp;&nbsp;Keywords
          </a>
          <a class="border-white border-t-2" href="https://www.imdb.com/search/title/" aria-label="Advanced Search">
              <i class='bx bx-file-find'></i>
              &nbsp;&nbsp;Advanced Search
          </a>
      </div>
        
        
        <input class="hide-elements-on-730px-screens pl-3 w-3/4 h-10 mt-2" placeholder="Search IMDb"/>
        <button class="hide-elements-on-730px-screens bg-white pr-3 rounded-r-lg h-10 mt-2"><i class='hide-elements-on-730px-screens bx bx-search text-black'></i></button>
    </nav>
    
    <button class="menu hide-on-small-screens mb-2"><strong>IMDb<span class="text-sky-500">Pro</span></strong></button>
    <button class="menu hide-on-small-screens mb-2"><strong>Watchlist</strong></button>
    <button class="show-on-730px-screens"><i class='show-on-730px-screens bx bx-search text-white'></i></button>
    <button class="menu mb-2"><strong>Sign In</strong></button>
    <button class="menu hide-elements-on-1030px-screens bg-yellow-400 rounded-4xl h-14 text-black"><strong>Use App</strong></button>
</header>
