<header class="flex justify-center resizeGap m-0 border-0 bg-gray-800 pt-3 pb-3 text-base">
  <div class="hide-elements-on-1030px-screens menu flex gap-2">
    <img class=" mt-5 w-7 h-7" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAAXNSR0IArs4c6QAAAPdJREFUaEPtmEEOgzAMBMnP+/OUqqeqpVpky46d4UxY744TDOPY7Bqb+T0w3J04hCHcLAFauhnQLzsQhnCzBGjpZkA5tOSWnnPOlemPMSQv0k0voxheDDeEL4DQ0ot1qns5MmF35aQHYjgp+DBZCIdFnSQE4avgz1H6kQRFkj1Haak+mTCztJR73E3M0szS7wTu7GHpUIhr4k8l90Mry4i3rkzYWzjreRjOSj5KF8JRSWfpQPjPxwM/4rPa8pcuszSz9P1Zeq89vNJ+tdTCa8mSXoW1EK5AyVIjhC3pVVgL4QqULDVC2JJehbUQrkDJUiOELelVWPsEl+lAPQnNLZQAAAAASUVORK5CYII=" />
    <img src="/public/images/IMDb_Logo_Square.svg.png" width="64" height="32"/>
  </div>
   <img class="hide-on-small-screens" src="/public/images/IMDb_Logo_Square.svg.png" width="64" height="32" alt="IMDb Logo"/>
    <nav class="flex w-3/6">
        <label class="hide-on-small-screens menu flex gap-2">
            <img class=" mt-3 w-7 h-7" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAAXNSR0IArs4c6QAAAPdJREFUaEPtmEEOgzAMBMnP+/OUqqeqpVpky46d4UxY744TDOPY7Bqb+T0w3J04hCHcLAFauhnQLzsQhnCzBGjpZkA5tOSWnnPOlemPMSQv0k0voxheDDeEL4DQ0ot1qns5MmF35aQHYjgp+DBZCIdFnSQE4avgz1H6kQRFkj1Haak+mTCztJR73E3M0szS7wTu7GHpUIhr4k8l90Mry4i3rkzYWzjreRjOSj5KF8JRSWfpQPjPxwM/4rPa8pcuszSz9P1Zeq89vNJ+tdTCa8mSXoW1EK5AyVIjhC3pVVgL4QqULDVC2JJehbUQrkDJUiOELelVWPsEl+lAPQnNLZQAAAAASUVORK5CYII=" />
            <button  class=" mr-5 mb-2"><strong>Menu</strong></button>
        </label>


        <button class="hide-elements-on-730px-screens btn bg-gray-200 h-10 mt-2" id="btn">
            <strong class="text-black">All</strong>
            <i class="bx bx-chevron-down text-black" id="arrow"></i>
        </button>
        <div class="dropdown" id="dropdown">
            <a href="#create" aria-label="Search for all">
                <i class='bx bx-search'></i>
                &nbsp;&nbsp;All
              </a>
            <a href="#create" aria-label="Titles">
                <i class='bx bxs-film'></i>
              &nbsp;&nbsp;Titles
            </a>
            <a href="#draft" aria-label="TV Episodes">
              <i class='bx bx-tv' ></i>
              &nbsp;&nbsp;TV Episodes
            </a>
            <a href="#move" aria-label="Celebrities">
              <i class="bx bx-folder"></i>
              &nbsp;&nbsp;Celebs
            </a>
            <a href="#profile" aria-label="Companies">
              <i class='bx bxs-buildings'></i>
              &nbsp;&nbsp;Companies
            </a>
            <a href="#notification" aria-label="Keywords">
                <i class='bx bxs-label'></i>
              &nbsp;&nbsp;Keywords
            </a> 
            <a class="border-white border-t-2" href="#settings" aria-label="Advanced Search">
                <i class='bx bx-file-find'></i>
              &nbsp;&nbsp;Advanced Search
            </a>
          </div>
        
        
        <input class="hide-elements-on-730px-screens pl-3 w-3/4 h-10 mt-2" placeholder="Search IMDb"/>
        <button class="hide-elements-on-730px-screens bg-white pr-3 rounded-r-lg h-10 mt-2"><i class='hide-elements-on-730px-screens bx bx-search text-black'></i></button>
    </nav>
    
    <button class="menu hide-on-small-screens mb-2"><strong>IMDb<span class="text-sky-500">Pro</span></strong></button>
    <button class="menu hide-on-small-screens mb-2"><strong>Watchlist</strong></button>
    <button class="show-on-730px-screens"><i class='show-on-730px-screens bx bx-search text-white'></i></button>
    <button class="menu mb-2"><strong>Sign In</strong></button>
    <button class="menu hide-elements-on-1030px-screens bg-yellow-400 rounded-4xl h-14 text-black"><strong>Use App</strong></button>
</header>
