
<div class="standard-container">


    <span class="pl-2 border-l-4 border-yellow-500 text-xl flex">
        <a class="flex" href="https://m.imdb.com/chart/starmeter/?ref_=hm_mpc_sm">
            <strong class="pt-1">Most popular celebrities</strong>
            <svg class="hover-arrow-color" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" style=""><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
        </a>
    </span>
    

    
    <div class="slideshow-container">

        <!-- Celebrities 1 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>TOP RISING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm0047332/?ref_=hm_mpc_tr_1"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Jonathan Bailey.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm8958770/?ref_=hm_mpc_br_6"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Paul Mescal.jpg" ></a>
                    <div class="flex justify-center">6 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;2)</div>
                    <span>Paul Mescal</span>
                </div>
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>BY RANKING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm3499685/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Lilah Richcreek Estrada.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;60)</div>
                    <span>Lilah Richcreek Estrada</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1682420/?ref_=hm_mpc_br_8"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Dustin Milligan.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;6)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm7635388/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Auli'i Cravalho.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;8)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm3812858/?ref_=hm_mpc_br_10"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Ariana Grande.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Ariana Grande</span>
                </div>
            </div>
        </div>
        <!-- End of celebrities 1 -->

        <!-- Celebrities 2 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>TOP RISING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm0047332/?ref_=hm_mpc_tr_1"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Jonathan Bailey.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Test 1</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm8958770/?ref_=hm_mpc_br_6"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Paul Mescal.jpg" ></a>
                    <div class="flex justify-center">6 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;2)</div>
                    <span>Paul Mescal</span>
                </div>
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>BY RANKING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm3499685/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Lilah Richcreek Estrada.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;60)</div>
                    <span>Lilah Richcreek Estrada</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1682420/?ref_=hm_mpc_br_8"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Dustin Milligan.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;6)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm7635388/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Auli'i Cravalho.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;8)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm3812858/?ref_=hm_mpc_br_10"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Ariana Grande.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Ariana Grande</span>
                </div>
            </div>
        </div>
        <!-- End of celebrities 2 -->

        <!-- Celebrities 3 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>TOP RISING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm0047332/?ref_=hm_mpc_tr_1"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Jonathan Bailey.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Test 2</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm8958770/?ref_=hm_mpc_br_6"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Paul Mescal.jpg" ></a>
                    <div class="flex justify-center">6 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;2)</div>
                    <span>Paul Mescal</span>
                </div>
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>BY RANKING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm3499685/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Lilah Richcreek Estrada.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;60)</div>
                    <span>Lilah Richcreek Estrada</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1682420/?ref_=hm_mpc_br_8"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Dustin Milligan.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;6)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm7635388/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Auli'i Cravalho.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;8)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm3812858/?ref_=hm_mpc_br_10"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Ariana Grande.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Ariana Grande</span>
                </div>
            </div>
        </div>
        <!-- End of celebrities 3 -->

        <!-- Celebrities 4 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>TOP RISING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm0047332/?ref_=hm_mpc_tr_1"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Jonathan Bailey.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Test 3</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm8958770/?ref_=hm_mpc_br_6"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Paul Mescal.jpg" ></a>
                    <div class="flex justify-center">6 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;2)</div>
                    <span>Paul Mescal</span>
                </div>
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>BY RANKING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm3499685/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Lilah Richcreek Estrada.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;60)</div>
                    <span>Lilah Richcreek Estrada</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1682420/?ref_=hm_mpc_br_8"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Dustin Milligan.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;6)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm7635388/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Auli'i Cravalho.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;8)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm3812858/?ref_=hm_mpc_br_10"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Ariana Grande.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Ariana Grande</span>
                </div>
            </div>
        </div>
        <!-- End of celebrities 4 -->

        <!-- Celebrities 5 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>TOP RISING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm0047332/?ref_=hm_mpc_tr_1"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Jonathan Bailey.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Test 4</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm8958770/?ref_=hm_mpc_br_6"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Paul Mescal.jpg" ></a>
                    <div class="flex justify-center">6 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;2)</div>
                    <span>Paul Mescal</span>
                </div>
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>BY RANKING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm3499685/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Lilah Richcreek Estrada.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;60)</div>
                    <span>Lilah Richcreek Estrada</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1682420/?ref_=hm_mpc_br_8"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Dustin Milligan.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;6)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm7635388/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Auli'i Cravalho.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;8)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm3812858/?ref_=hm_mpc_br_10"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Ariana Grande.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Ariana Grande</span>
                </div>
            </div>
        </div>
        <!-- End of Celebrities 5 -->

        <!-- Celebrities 6 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>TOP RISING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm0047332/?ref_=hm_mpc_tr_1"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Jonathan Bailey.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Test 5</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm8958770/?ref_=hm_mpc_br_6"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Paul Mescal.jpg" ></a>
                    <div class="flex justify-center">6 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;2)</div>
                    <span>Paul Mescal</span>
                </div>
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>BY RANKING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm3499685/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Lilah Richcreek Estrada.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;60)</div>
                    <span>Lilah Richcreek Estrada</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1682420/?ref_=hm_mpc_br_8"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Dustin Milligan.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;6)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm7635388/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Auli'i Cravalho.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;8)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm3812858/?ref_=hm_mpc_br_10"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Ariana Grande.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Ariana Grande</span>
                </div>
            </div>
        </div>
        <!-- End of celebrities 6 -->

        <!-- Celebrities 7 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>TOP RISING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm0047332/?ref_=hm_mpc_tr_1"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Jonathan Bailey.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Test 6</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm8958770/?ref_=hm_mpc_br_6"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Paul Mescal.jpg" ></a>
                    <div class="flex justify-center">6 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;2)</div>
                    <span>Paul Mescal</span>
                </div>
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>BY RANKING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm3499685/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Lilah Richcreek Estrada.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;60)</div>
                    <span>Lilah Richcreek Estrada</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1682420/?ref_=hm_mpc_br_8"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Dustin Milligan.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;6)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm7635388/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Auli'i Cravalho.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;8)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm3812858/?ref_=hm_mpc_br_10"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Ariana Grande.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Ariana Grande</span>
                </div>
            </div>
        </div>
        <!-- End of celebrities 7 -->

        <!-- Celebrities 8 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>TOP RISING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm0047332/?ref_=hm_mpc_tr_1"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Jonathan Bailey.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>test 7</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm8958770/?ref_=hm_mpc_br_6"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Paul Mescal.jpg" ></a>
                    <div class="flex justify-center">6 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;2)</div>
                    <span>Paul Mescal</span>
                </div>
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>BY RANKING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm3499685/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Lilah Richcreek Estrada.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;60)</div>
                    <span>Lilah Richcreek Estrada</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1682420/?ref_=hm_mpc_br_8"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Dustin Milligan.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;6)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm7635388/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Auli'i Cravalho.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;8)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm3812858/?ref_=hm_mpc_br_10"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Ariana Grande.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Ariana Grande</span>
                </div>
            </div>
        </div>
        <!-- End of celebrities 8 -->

        <!-- Celebrities 9 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>TOP RISING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm0047332/?ref_=hm_mpc_tr_1"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Jonathan Bailey.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Test 8</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm8958770/?ref_=hm_mpc_br_6"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Paul Mescal.jpg" ></a>
                    <div class="flex justify-center">6 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;2)</div>
                    <span>Paul Mescal</span>
                </div>
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>BY RANKING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm3499685/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Lilah Richcreek Estrada.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;60)</div>
                    <span>Lilah Richcreek Estrada</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1682420/?ref_=hm_mpc_br_8"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Dustin Milligan.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;6)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm7635388/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Auli'i Cravalho.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;8)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm3812858/?ref_=hm_mpc_br_10"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Ariana Grande.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Ariana Grande</span>
                </div>
            </div>
        </div>
        <!-- End of celebrities 9 -->
        
        <a class="prev">❮</a>
        <a class="next">❯</a>
        
        </div>
        <br>
        
        <div style="text-align:center">
          <span class="dot hidden" onclick="currentSlide(1)"></span> 
          <span class="dot hidden" onclick="currentSlide(2)"></span> 
          <span class="dot hidden" onclick="currentSlide(3)"></span> 
          <span class="dot hidden" onclick="currentSlide(4)"></span> 
          <span class="dot hidden" onclick="currentSlide(5)"></span> 
          <span class="dot hidden" onclick="currentSlide(6)"></span> 
          <span class="dot hidden" onclick="currentSlide(7)"></span> 
          <span class="dot hidden" onclick="currentSlide(8)"></span> 
          <span class="dot hidden" onclick="currentSlide(9)"></span> 
        </div>
