<div class="standard-container">

    <span class="pl-2 border-l-4 border-yellow-500 text-xl flex">
        <a class="flex" href="https://m.imdb.com/chart/starmeter/?ref_=hm_mpc_sm">
            <strong class="pt-1">Most popular celebrities</strong>
            <svg class="hover-arrow-color" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" style=""><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
        </a>
    </span>
    
    <div class="slideshow-container">

        <!-- Celebrities 1 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>TOP RISING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm0047332/?ref_=hm_mpc_tr_1"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Jonathan Bailey.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);
                        transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm8958770/?ref_=hm_mpc_br_6"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Paul Mescal.jpg" ></a>
                    <div class="flex justify-center">6 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);
                        transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;2)</div>
                    <span>Paul Mescal</span>
                </div>
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>BY RANKING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm3499685/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Lilah Richcreek Estrada.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);
                        transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;60)</div>
                    <span>Lilah Richcreek Estrada</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1682420/?ref_=hm_mpc_br_8"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Dustin Milligan.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);
                        transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;6)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm7635388/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Auli'i Cravalho.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);
                        transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;8)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm3812858/?ref_=hm_mpc_br_10"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Ariana Grande.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);
                        transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Ariana Grande</span>
                </div>
            </div>
        </div>
        <!-- End of celebrities 1 -->

        <!-- Celebrities 2 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 mt-9 text-center">
                   <a href="https://m.imdb.com/name/nm13464756/?ref_=hm_mpc_tp_1"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Jaden Carson Baker.jpg" ></a>
                    <div class="flex justify-center">49 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);
                        transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;96607)</div>
                    <span>Jaden Carson Baker</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm2186074/?ref_=hm_mpc_tp_2"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Thea Sofie Loch Næss.jpg" ></a>
                    <div class="flex justify-center">29 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);
                        transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;2057)</div>
                    <span>Thea Sofie Loch Næss</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm7248827/?ref_=hm_mpc_rnk_1"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Cynthia Erivo.jpg" ></a>
                    <div class="flex justify-center">1 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);
                        transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;6)</div>
                    <span>Cynthia Erivo</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm8948296/?ref_=hm_mpc_rnk_2"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Michelle Randolph.jpg" ></a>
                    <div class="flex justify-center">2 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);
                        transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;3)</div>
                    <span>Michelle Randolph</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm0001567/?ref_=hm_mpc_rnk_3"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Connie Nielsen.jpg" ></a>
                    <div class="flex justify-center">3 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);
                        transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;2)</div>
                    <span>Connie Nielsen</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm0005123/?ref_=hm_mpc_rnk_4"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Ali Larter.jpg" ></a>
                    <div class="flex justify-center">4 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);
                        transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;7)</div>
                    <span>Ali Larter</span>
                </div>
            </div>
        </div>
        <!-- End of celebrities 2 -->

        <!-- Celebrities 3 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1685408/?ref_=hm_mpc_rnk_11"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Dawn Olivieri.jpg" ></a>
                    <div class="flex justify-center">11 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);
                        transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;8)</div>
                    <span>Dawn Olivieri</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm2129662/?ref_=hm_mpc_rnk_12"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Cristin Milioti.jpg" ></a>
                    <div class="flex justify-center">12 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);
                        transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;9)</div>
                    <span>Cristin Milioti</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1429380/?ref_=hm_mpc_rnk_13"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Britt Robertson.jpg" ></a>
                    <div class="flex justify-center">13 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);
                        transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;16)</div>
                    <span>Britt Robertson</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm0001783/?ref_=hm_mpc_rnk_14"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Sally Struthers.jpg" ></a>
                    <div class="flex justify-center">14 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);
                        transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;181)</div>
                    <span>Sally Struthers</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm0614877/?ref_=hm_mpc_rnk_15"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Chad Michael Murray.jpg" ></a>
                    <div class="flex justify-center">15 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);
                        transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;34)</div>
                    <span>Chad Michael Murray</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm4960279/?ref_=hm_mpc_rnk_16"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Margaret Qualley.jpg" ></a>
                    <div class="flex justify-center">16 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);
                        transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;6)</div>
                    <span>Margaret Qualley</span>
                </div>
            </div>
        </div>
        <!-- End of celebrities 3 -->

        <!-- Celebrities 4 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm0792263/?ref_=hm_mpc_rnk_17"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Taylor Sheridan.jpg" ></a>
                    <div class="flex justify-center">17 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;
                        msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;2)</div>
                    <span>Taylor Sheridan</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm0001101/?ref_=hm_mpc_rnk_18"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Ted Danson.jpg" ></a>
                    <div class="flex justify-center">18 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;
                        msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;76)</div>
                    <span>Ted Danson</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.media-amazon.com/images/M/MV5BNDAxMDNkY2YtMzIwMy00ZDQ5LWI0ZWMtNmRlZjkyZmFlZTU0XkEyXkFqcGc@._V1_FMjpg_UX953_.jpg"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Joseph Quinn.jpg" ></a>
                    <div class="flex justify-center">19 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;
                        msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;4)</div>
                    <span>Joseph Quinn</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm5987576/?ref_=hm_mpc_rnk_20"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Marissa Bode.jpg" ></a>
                    <div class="flex justify-center">20 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;
                        msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;128)</div>
                    <span>Marissa Bode</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm2794962/?ref_=hm_mpc_rnk_21"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Hailee Steinfeld.jpg" ></a>
                    <div class="flex justify-center">21 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;
                        msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;67)</div>
                    <span>Hailee Steinfeld</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1634944/?ref_=hm_mpc_rnk_22"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Mary Elizabeth Ellis.jpg" ></a>
                    <div class="flex justify-center">22 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;
                        msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;93)</div>
                    <span>Mary Elizabeth Ellis</span>
                </div>
            </div>
        </div>
        <!-- End of celebrities 4 -->

        <!-- Celebrities 5 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm9538520/?ref_=hm_mpc_rnk_23"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Fred Hechinger.jpg" ></a>
                    <div class="flex justify-center">49 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;
                        msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;26)</div>
                    <span>Fred Hechinger</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm0272581/?ref_=hm_mpc_rnk_24"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Rebecca Ferguson.jpg" ></a>
                    <div class="flex justify-center">28 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;
                        msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;4)</div>
                    <span>Rebecca Ferguson</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm10128408/?ref_=hm_mpc_rnk_25"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Emma Corrin.jpg" ></a>
                    <div class="flex justify-center">55 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;
                        msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;10)</div>
                    <span>Emma Corrin</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm3480246/?ref_=hm_mpc_rnk_26"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Ella Purnell.jpg" ></a>
                    <div class="flex justify-center">23 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;
                        msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;3)</div>
                    <span>Ella Purnell</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1379938/?ref_=hm_mpc_rnk_27"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Travis Fimmel.jpg" ></a>
                    <div class="flex justify-center">62 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;
                        msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;35)</div>
                    <span>Travis Fimmel</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1556320/?ref_=hm_mpc_rnk_28"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Katie Cassidy.jpg" ></a>
                    <div class="flex justify-center">699 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;
                        msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;671)</div>
                    <span>Katie Cassidy</span>
                </div>
            </div>
        </div>
        <!-- End of Celebrities 5 -->

        <!-- Celebrities 6 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>TOP RISING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm0047332/?ref_=hm_mpc_tr_1"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Jonathan Bailey.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Test 5</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm8958770/?ref_=hm_mpc_br_6"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Paul Mescal.jpg" ></a>
                    <div class="flex justify-center">6 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;2)</div>
                    <span>Paul Mescal</span>
                </div>
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>BY RANKING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm3499685/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Lilah Richcreek Estrada.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;60)</div>
                    <span>Lilah Richcreek Estrada</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1682420/?ref_=hm_mpc_br_8"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Dustin Milligan.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;6)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm7635388/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Auli'i Cravalho.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;8)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm3812858/?ref_=hm_mpc_br_10"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Ariana Grande.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Ariana Grande</span>
                </div>
            </div>
        </div>
        <!-- End of celebrities 6 -->

        <!-- Celebrities 7 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>TOP RISING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm0047332/?ref_=hm_mpc_tr_1"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Jonathan Bailey.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Test 6</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm8958770/?ref_=hm_mpc_br_6"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Paul Mescal.jpg" ></a>
                    <div class="flex justify-center">6 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;2)</div>
                    <span>Paul Mescal</span>
                </div>
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>BY RANKING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm3499685/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Lilah Richcreek Estrada.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;60)</div>
                    <span>Lilah Richcreek Estrada</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1682420/?ref_=hm_mpc_br_8"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Dustin Milligan.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;6)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm7635388/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Auli'i Cravalho.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;8)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm3812858/?ref_=hm_mpc_br_10"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Ariana Grande.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Ariana Grande</span>
                </div>
            </div>
        </div>
        <!-- End of celebrities 7 -->

        <!-- Celebrities 8 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>TOP RISING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm0047332/?ref_=hm_mpc_tr_1"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Jonathan Bailey.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>test 7</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm8958770/?ref_=hm_mpc_br_6"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Paul Mescal.jpg" ></a>
                    <div class="flex justify-center">6 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;2)</div>
                    <span>Paul Mescal</span>
                </div>
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>BY RANKING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm3499685/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Lilah Richcreek Estrada.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;60)</div>
                    <span>Lilah Richcreek Estrada</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1682420/?ref_=hm_mpc_br_8"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Dustin Milligan.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;6)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm7635388/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Auli'i Cravalho.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;8)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm3812858/?ref_=hm_mpc_br_10"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Ariana Grande.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Ariana Grande</span>
                </div>
            </div>
        </div>
        <!-- End of celebrities 8 -->

        <!-- Celebrities 9 -->
        <div class="mySlides fade">
            <div class="grid-images-container">
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>TOP RISING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm0047332/?ref_=hm_mpc_tr_1"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Jonathan Bailey.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Test 8</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm8958770/?ref_=hm_mpc_br_6"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Paul Mescal.jpg" ></a>
                    <div class="flex justify-center">6 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;2)</div>
                    <span>Paul Mescal</span>
                </div>
                <div class="flex-col mr-5 text-center">
                    <div class="text-color text-xs text-left mt-5">
                        <span><strong>BY RANKING</strong></span>
                    </div>
                    <a href="https://m.imdb.com/name/nm3499685/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Lilah Richcreek Estrada.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;60)</div>
                    <span>Lilah Richcreek Estrada</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm1682420/?ref_=hm_mpc_br_8"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Dustin Milligan.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(247, 58, 58, 1);transform: ;msFilter:;"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg> &nbsp;6)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm7635388/?ref_=nm_mv_close"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Auli'i Cravalho.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;8)</div>
                    <span>Jonathan Bailey</span>
                </div>
                <div class="flex-col mr-5 mt-9 text-center">
                    <a href="https://m.imdb.com/name/nm3812858/?ref_=hm_mpc_br_10"><img width="170px" class="rounded-full" src="../../public/Celebrities Images/Ariana Grande.jpg" ></a>
                    <div class="flex justify-center">5 (<svg width="10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(49, 204, 16, 1);transform: ;msFilter:;"><path d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path></svg> &nbsp;36)</div>
                    <span>Ariana Grande</span>
                </div>
            </div>
        </div>
        <!-- End of celebrities 9 -->
        
        <a class="prev">❮</a>
        <a class="next">❯</a>
        
        </div>
        <br>
        
        <div style="text-align:center">
          <span class="dot hidden" onclick="currentSlide(1)"></span> 
          <span class="dot hidden" onclick="currentSlide(2)"></span> 
          <span class="dot hidden" onclick="currentSlide(3)"></span> 
          <span class="dot hidden" onclick="currentSlide(4)"></span> 
          <span class="dot hidden" onclick="currentSlide(5)"></span> 
          <span class="dot hidden" onclick="currentSlide(6)"></span> 
          <span class="dot hidden" onclick="currentSlide(7)"></span> 
          <span class="dot hidden" onclick="currentSlide(8)"></span> 
          <span class="dot hidden" onclick="currentSlide(9)"></span> 
        </div>