body {
  background-color: #333333;
  margin-left: 200px;
}

.dropdown a:hover {
  background-color: #ddd;
}

.menu {
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 5px;
  color: white;
}

.menu:hover {
  background-color: rgb(54, 69, 79);
  transition: 0.3s;
  color: white;
}

label {
  color: white;
}

.show {
  display: block;
}
.btn {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--gap);
  padding: 0.6rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow);
  position: relative;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-right: 1px solid black;
}

.btn:hover {
  background-color: #d1d1d1;
  transition: 0.3s;
}

.bx {
  font-size: 1.1rem;
}

.dropdown a {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: white;
}

.dropdown a:hover {
  background-color: var(--color);
  color: #facc15;
}

.dropdown {
  position: absolute;
  width: 250px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 3.3rem;
  background: black;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(0.5rem);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.show {
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
}

.arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;
}

.qr-code {
  width: 90%;
}

.box {
  width: 500px;
}

/* Main page content */
.standard-container {
  max-width: 1200px;
  margin: 0 200px;
}

.hover-arrow-color:hover {
  fill: #facc15;
}

.hover-arrow-color {
  fill: rgb(255, 255, 255, 1);
  transform: ;
  msfilter: ;
}

.text-color {
  color: #facc15;
  font-family: Arial, Helvetica, sans-serif;
}

/* Carousel List*/

/* Slideshow container */
.slideshow-container {
  width: 1200px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #facc15;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.grid-images-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.grid-images-container div:hover span {
  color: #facc15;
  position: relative;
}

//Keyframes
@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
//End keyframe

// Media query
@media screen and (min-width: 1090px) {
  .qr-image {
    transform: translate(0, -10px);
  }
}
@media screen and (max-width: 1090px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  .social-media-query {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .social-media-query div {
    margin: 0px;
  }

  .qr-image {
    transform: translate(0, -10px);
  }
}

@media screen and (max-width: 900px) {
  #grid-container {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px;
  }

  footer {
    display: flex;
    min-width: 100%;
  }

  .qr-code {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .social-media-query {
    display: flex;
    align-items: center;
  }

  #social-links {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .qr-image {
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 510px) {
  .box {
    width: 100%;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
/* End media query */

/* Pop-up styling */
.popup {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  transition: top 0.7s ease-in-out;
}

.popup-content {
  background-color: white;
  padding: 0px;
  border-radius: 0px;
  text-align: center;
  width: 110px;
  margin-top: 10px;
  padding: 0px;
}

#closePopup {
  background-color: white;
  color: black;
  border: none;
  width: 110px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  padding-right: 6px;
}